<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel='stylesheet' href='/stylesheets/student.css' />
</head>

<body>
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                        <span class="icon">
                             <ion-icon name="person"></ion-icon>
                        </span>
                    <span class="title">eStudent/Admin</span>
                </a>
            </li>

            <li>
                <a href="/admin/home/:id">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/admin/users">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                    <span class="title">Korisnici</span>
                </a>
            </li>

            <li>
                <a href="/admin/request">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                    <span class="title">Pitanja i zahtjevi</span>
                </a>
            </li>

            <li>
                <a href="/admin/news">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                    <span class="title">Obavjesti</span>
                </a>
            </li>

            <li>
                <a href="/admin/log-out">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                    <span class="title">Odjavi se</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </div>


        <!-- ================ Order Details List ================= -->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Lista svih studenata</h2>
                </div>

                <table>
                    <thead>
                    <tr>
                        <td>Ime</td>
                        <td>Prezime</td>
                        <td>Korisničko ime</td>
                        <td>Studijski program</td>
                        <td>Uredi</td>
                    </tr>
                    </thead>
                    <%for (let i = 0; i < users.length; i++){%>
                    <tbody>
                    <tr>
                        <td><%= users[i].name%></td>
                        <td><%= users[i].lastname%></td>
                        <td><%= users[i].email%></td>
                        <td><%= users[i].study_program%></td>
                        <td><a href="/admin/edit-user/<%= users[i].id%>" class="status delivered">Uredi</a></td>

                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<!-- =========== Scripts =========  -->
<script src="assets/js/main.js"></script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    let list = document.querySelectorAll(".navigation li");

    function activeLink() {
        list.forEach((item) => {
            item.classList.remove("hovered");
        });
        this.classList.add("hovered");
    }

    list.forEach((item) => item.addEventListener("mouseover", activeLink));

    // Menu Toggle
    let toggle = document.querySelector(".toggle");
    let navigation = document.querySelector(".navigation");
    let main = document.querySelector(".main");

    toggle.onclick = function () {
        navigation.classList.toggle("active");
        main.classList.toggle("active");
    };

</script>
</body>
</html>